img {
  width: 50%;
  max-width: 400px;
  clear: both;
}

body {
  min-width: 28rem;
}

#listSpace {
  position: relative;
  padding-bottom: 3rem;
}

ol {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: calc(100% - 15rem);
  min-width: 12rem;
  background-color: #fcc;
  margin: 1rem 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  line-height: 1.4rem;
}

ol.invisible {
  display: none;
}

ol.visible {
  display: block;
}
